In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_excel('data/address_data.xlsx')
df.head()

,Unique ID,Gardian Name,Email,Address,Scholar Name,Scholar Grade,Scholar 1 Enrollment Status
0,7356714015,London Cameron,rasca@outlook.com,2856 Rhonda Lane Denver CO 80207,Atticus Jackson,K,Application Submitted
1,3233233322,Marley Allen,Marley.Allen@gmail.com,1638 E Washington St Denver CO 80219,Carlo Huang,Second,Currently Enrolled
2,4344344433,Yair Harrington,Yair.Harrington@gmail.com,628 n Lafayette st. Denver CO 80219,Mitchell Castillo,Second,Currently Enrolled
3,5467891234,Ashanti Huynh,Ashanti.Huynh@gmail.com,58 S 2nd street Denver CO 80219,Melina Ward,Second,Currently Enrolled
4,7899877799,Ashanti Sellers,Ashanti.Sellers@gmail.com,58 S 2nd Street Denver CO 80219,Braden McClain,Second,Currently Enrolled

## Name Columns

Change the Guardian Name and Scholar Name Columns to First and Last name columns for both Scholar and Guardian

In [43]:
def first_name(name):
    result = name.split()[0]
    return result
def last_name(name):
    result = name.split()[1]
    return result
#add columns and split the names
df['Guardian_First'] = df['Gardian Name'].apply(lambda x: first_name(x))
df['Guardian_last'] = df['Gardian Name'].apply(lambda x: last_name(x))
df['Scholar_First'] = df['Scholar Name'].apply(lambda x: first_name(x))
df['Scholar_Last'] = df['Scholar Name'].apply(lambda x: last_name(x))
#drop original columns
df = df.drop(['Gardian Name','Scholar Name'], axis=1)

df.head()

,Unique ID,Email,Address,Scholar Grade,Scholar 1 Enrollment Status,Guardian_First,Guardian_last,Scholar_First,Scholar_Last
0,7356714015,rasca@outlook.com,2856 Rhonda Lane Denver CO 80207,K,Application Submitted,London,Cameron,Atticus,Jackson
1,3233233322,Marley.Allen@gmail.com,1638 E Washington St Denver CO 80219,Second,Currently Enrolled,Marley,Allen,Carlo,Huang
2,4344344433,Yair.Harrington@gmail.com,628 n Lafayette st. Denver CO 80219,Second,Currently Enrolled,Yair,Harrington,Mitchell,Castillo
3,5467891234,Ashanti.Huynh@gmail.com,58 S 2nd street Denver CO 80219,Second,Currently Enrolled,Ashanti,Huynh,Melina,Ward
4,7899877799,Ashanti.Sellers@gmail.com,58 S 2nd Street Denver CO 80219,Second,Currently Enrolled,Ashanti,Sellers,Braden,McClain

## Fix the Address Column

In [44]:
import usaddress

In [50]:
# Parse and label an address
address = "58 S 2nd Street Denver CO 80219"
parsed_address = usaddress.parse(address)

# Print the parsed address
print(parsed_address)

[('58', 'AddressNumber'), ('S', 'StreetNamePreDirectional'), ('2nd', 'StreetName'), ('Street', 'StreetNamePostType'), ('Denver', 'PlaceName'), ('CO', 'StateName'), ('80219', 'ZipCode')]

In [56]:
#scourgify https://github.com/GreenBuildingRegistry/usaddress-scourgify
from scourgify import normalize_address_record

record = normalize_address_record('58 s 2nd Street Denver CO 80219')

record

{'address_line_1': '58 S 2ND ST',
 'address_line_2': None,
 'city': 'DENVER',
 'state': 'CO',
 'postal_code': '80219'}

In [57]:
record['address_line_1']

'58 S 2ND ST'

## Fix Student Grade

## Reorder Columns
We will reorder the columns back to their original spots